<h1>Thank You for booking your flight with FlightBooker, <%=@passenger.name%>!</h1>
<p>
    Your flight will be departing from <%=@flight.departure_airport.airport_code%> on <%=@flight.date%>.
    The flight will arrive at <%=@flight.arrival_airport.airport_code%> after <%=@flight.duration%> minutes.
</p>
